<!DOCTYPE html>
<html>
<head>
	<title>Virgin prototype</title>
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" href="stylesheets/netdna-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/angapp.css">
</head>
<body ng-app="angapp" ng-controller="mainController" layout="column">

<header>
	<section layout="row" layout-align="space-around center">
		<img flex="none" class="logo_virgin" src="images/virgin-logo.png" />
		

		<form flex layout="row" ng-submit="" layout-align="end center">
			<input type="text" placeholder="Username" />
			<input type="password" placeholder="Password" />
			<md-button class="md-raised" type="submit" value="submit">Login</md-button>
		</form>
	</section>
	<nav>
		<ul layout="row" layout-align="space-around center">
			<a ng-repeat="navHeadItem in navbarHeadData" flex href="{{ navHeadItem[1] }}"><li flex >{{ navHeadItem[0] }}</li></a>
		</ul>
	</nav>
	<gsys-promo-panel layout="column" layout-align="space-around center"></gsys-promo-panel>
	<nav>
		<ul layout="row" layout-align="space-around center">
			<a ng-repeat="navitem in navbarData" flex href="{{ navitem[1] }}"><li  flex >{{ navitem[0] }}</li></a>
			
		</ul>
	</nav>
</header>



<section id="contentArea">
	<ui-view name="main_content"></ui-view>
</section>

<footer>
	<section class="gamesys-logo" layout="row" layout-align="center center">
		<img flex src="images/gamesys-greyscale.png" />
	</section>
	<hr />
	<section class="card-list" layout="row" layout-align="center center">
		<ul layout="row" layout-align="center center">
			<li flex ng-repeat="card in cardData"><img src="images/icons/{{card[0]}}" /></li>
		</ul>
	</section>
	<section class="company-list" layout="row" layout-align="center center">
		<ul layout="row" layout-align="center center">
			<li flex ng-repeat="company in companiesData"><img src="images/icons/{{company[0]}}" /></li>
		</ul>
	</section>
	<hr />
	<section layout="column" layout-align="center center">
		<p flex>Virgin Games is operated by Nozee Limited of Suite 2, Floor 2, Waterport Place, Gibraltar.</p>
		<p flex>Licensed and regulated in Great Britain by the Gambling Commission (Licence number 38905).</p> 
		<p flex>We are also licensed by the Government of Gibraltar and Gibraltar Gambling Commissioner (RGL No. 46).</p>
		<p flex>VIRGIN and the Virgin Signature logo are registered trade marks of Virgin Enterprises Limited and are used under licence.</p>
		<p flex>Copyright © The Gamesys Group 2013 - 2016. All rights reserved.</p>
	</section>
</footer>



<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="bower_components/angular-scroll/angular-scroll.js"></script>
<script type="text/javascript" src="javascripts/controllers.js"></script>
<script type="text/javascript" src="javascripts/directives.js"></script>
<script type="text/javascript" src="javascripts/services.js"></script>
<script type="text/javascript" src="javascripts/filters.js"></script>
<script type="text/javascript" src="angapp.js"></script>

</body>
</html>