<article >
<div layout="row">
	<div flex class="info-img-cont" itemscope itemtype="http://schema.org/VideoGame">
		<img ng-src="images/orig/{{slotItem.detail.info_Img_url}}" class="info-box-img" itemprop="image" />
	</div>
	<div flex class="info-play-btn-set">
		<div class="info-play-btn-row" layout="row" layout-align="end center"> <md-button flex class="md-raised md-cornered">Demo</md-button>		<md-button flex class="md-raised md-cornered">Play</md-button> </div>
		<div class="tbl" itemscope itemtype="http://schema.org/Table">
			<div class="tbl-row" layout="row"> 	<div flex class="cell fixed1">Coin Sizes</div>			<div flex class="cell fluid">{{slotItem.detail.info_coinSizes}}</div> </div>
			<div class="tbl-row" layout="row"> 	<div flex class="cell fixed1">Paylines</div>				<div flex class="cell fluid">{{slotItem.detail.info_payLines}}</div> </div>			
			<div class="tbl-row" layout="row"> 	<div flex class="cell fixed1">Top-line Payout</div>		<div flex class="cell fluid">{{slotItem.detail.info_topLine}}</div> </div>
			<div class="tbl-row" layout="row"> 	<div flex class="cell fixed1">Features</div>				<div flex class="cell fluid">{{slotItem.detail.info_features}}</div> </div>
		  	<div class="tbl-row" layout="row"> 	<div flex class="cell fixed1">Auto Spin</div>			<div flex class="cell fluid">{{slotItem.detail.info_autoSpin}}</div> </div>
		</div>  
	</div>
</div>
<div layout="row" itemscope itemtype="http://schema.org/Article">
	<p ng-bind-html="slotItem.detail.info_descTxt" itemprop="articleBody"></p>
</div>
</article>
