<div layout="row">
	<md-button flex  class="md-raised md-cornered info-close-btn" ng-click="removeInfoSection()">close</md-button>
	<md-button flex  class="md-raised md-cornered" ui-sref="slotsinfo.info">Game Info</md-button>
	<md-button flex  class="md-raised md-cornered" ui-sref="slotsinfo.detail">How to Play</md-button>
</div>
<ui-view name="info_panel" class="info_panel" ></ui-view>
