<md-card itemscope itemtype="http://schema.org/VideoGame" >
	<div class="info-shape">
		<h2 itemprop="name">{{ slotItem.title }}</h2>
		<h3 itemprop="genre">{{ slotItem.category.item_cat_name }}</h3>
		<h4 itemprop="url" gsys-info-link>more info ></h4>
		<div layout="row"  layout-align="end center">
			<md-button itemprop="url"  class="md-raised md-cornered">Demo</md-button>
			<md-button itemprop="url"  class="md-raised md-cornered">Play</md-button>
		</div>

	</div>
	<div itemprop="image" class="card-bg" style="background-image:url(images/orig/{{slotItem.icon_url}})">
	</div>	
</md-card>