<section flex="none" class="scrolling-container" itemscope itemtype="http://schema.org/WPAdBlock">
	<div style="">
		<uib-carousel active="active" interval="carouselInterval">
			<uib-slide ng-repeat="promo in promoData"  index="$index">
				<a href="{{promo.img_cta_url}}"><img ng-src="images/{{promo.img_src_url}}" style="margin:auto; width:100%;"></a>
			</uib-slide>
		</uib-carousel>
	</div>
</section>