<section class="scrolling-container">
	<h1 class="container-heading md-whiteframe-12dp">Slots of the Day</h1>
	<div style="height: 350px">
		<uib-carousel active="active" interval="carouselInterval">
			<uib-slide ng-repeat="slotItem in slotSet | filter: {feature:true} track by $index"  index="$index">
				<img ng-src="images/orig/{{slotItem.icon_url}}" style="margin:auto; width:100%;">
				<div class="carousel-caption">
		          <h3 class="item-title">{{slotItem.title}}</h3>
		        </div>
			</uib-slide>
		</uib-carousel>
	</div>
</section>

<section class="searchFilterPanel">
	<h3 layout="col">Looking for a game?</h3>
	<form name="gameSearcher" layout="row" layout-align="space-around end" layout-padding class="slotFilterForm">
		<md-input-container flex="100" >
			<input type="text" placeholder="Search for any of our slot games here" ng-model="slotfilter" ng-change="countVisibleItems()"/>
			<span aria-hidden="true" class="glyphicon glyphicon-search input-search-icon" style=""></span>
				<h3 class="resultCounter" ng-if="!gameSearcher.$pristine || $parent.slotfilter.length >= 1" layout="row" layout-align="end center">You found <span>&nbsp;{{ slotcount.length }}&nbsp;</span> games</h3>
		</md-input-container>
	</form>

</section>

<ul layout="row" layout-align="space-around center" class="itemCollection">
	<li flex ng-repeat="slotItem in slotSet |  limitTo:quantity | filter: slotfilter as slotcount" class="itemObject">
		<gsys-product-card class="cardCont"></gsys-product-card>
	</li>
</ul>