header {
  background: linear-gradient(to right, #cc0000 0%, #cc0000 24%, #502777 100%); }
  header nav {
    color: #ffffff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.5); }
    header nav ul {
      padding: 0; }
      header nav ul li {
        list-style-type: none;
        text-align: center;
        margin: 1em 0 1em 0;
        text-decoration: none;
        color: #ffffff; }
        header nav ul li a {
          font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 400;
          font-size: 14px;
          font-size: 0.875rem; }
  header gsys-promo-panel img {
    width: 100%; }

.scrolling-container {
  position: relative;
  overflow: hidden;
  background-color: #cc0000;
  color: #ffffff; }
  .scrolling-container .container-heading {
    position: absolute;
    border: 2px solid #AB0303;
    border-left-width: 0;
    top: 0;
    z-index: 10;
    background-color: #cc0000;
    padding: 0.5em 2em 0.3em 3em;
    margin: 1em 0 0 0;
    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
    text-align: right; }
  .scrolling-container .carousel-inner {
    height: 350px; }
    .scrolling-container .carousel-inner > .item {
      height: 100%; }
      .scrolling-container .carousel-inner > .item .item-title {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        border: 2px solid #AB0303;
        background-color: #cc0000;
        padding: 0.5em 2em 0.3em 3em;
        margin: 2em -5em;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        text-align: right; }
  .scrolling-container ul {
    list-style-type: none; }
  .scrolling-container md-card {
    color: #e5e5e5; }

#contentArea .slotFilterForm {
  position: relative; }
#contentArea .searchFilterPanel {
  background-color: #cc0000;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5); }
  #contentArea .searchFilterPanel .layout-padding {
    padding: 2em; }
  #contentArea .searchFilterPanel h3 {
    color: #ffffff;
    position: relative;
    margin: 0;
    padding: 1em 0 0 1em; }
  #contentArea .searchFilterPanel input,
  #contentArea .searchFilterPanel label {
    color: #ffffff;
    border-color: #ffffff; }
  #contentArea .searchFilterPanel .resultCounter {
    font-size: 1.3em; }
    #contentArea .searchFilterPanel .resultCounter span {
      font-size: -webkit-xxx-large; }
#contentArea .itemCollection {
  padding: 0;
  flex-wrap: wrap; }
  #contentArea .itemCollection .itemObject {
    list-style-type: none;
    min-width: 340px;
    max-width: 460px; }
    #contentArea .itemCollection .itemObject md-card {
      cursor: pointer;
      position: relative;
      min-height: 200px;
      overflow: hidden;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
      border: 4px solid #cc0000;
      transition: 200ms ease-in-out;
      transform: translate3d(0, 0, 0); }
      #contentArea .itemCollection .itemObject md-card:hover {
        transform: translate3d(0, 0, 50px);
        border: 4px solid rgba(255, 0, 104, 0.34); }
        #contentArea .itemCollection .itemObject md-card:hover .info-shape {
          transform: translate(0px, 0%); }
      #contentArea .itemCollection .itemObject md-card .info-shape {
        height: 225px;
        width: 100%;
        position: absolute;
        transform: translate(100%, 0px);
        transition: 200ms ease-out;
        /*-webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 17% 100%);*/
        /*clip-path: polygon(36% 0, 100% 0%, 100% 100%, 17% 100%);*/
        color: #ffffff;
        text-align: right; }
        #contentArea .itemCollection .itemObject md-card .info-shape:hover {
          transform: translate(2%, 0%); }
        #contentArea .itemCollection .itemObject md-card .info-shape h2 {
          position: relative;
          font-size: 1.5em;
          background-color: #cc0000;
          display: block;
          max-width: 90%;
          padding: 1em;
          transform: translate3d(15%, 0, 0);
          margin: 0;
          text-align: start;
          font-weight: 400; }
        #contentArea .itemCollection .itemObject md-card .info-shape h3 {
          position: relative;
          font-size: 1.3em;
          background-color: #cc0000;
          max-width: 70%;
          display: block;
          padding: 0.5em 1em 0.5em 1em;
          transform: translate3d(45%, 0, 0);
          margin: 0em 0 0;
          text-align: start;
          font-weight: 400; }
        #contentArea .itemCollection .itemObject md-card .info-shape h4 {
          position: relative;
          font-size: 1.2em;
          background-color: #cc0000;
          max-width: 50%;
          padding: 0.5em 1em 0.5em 1em;
          display: block;
          transform: translate3d(100%, 0, 0);
          margin: 0.4em 0;
          text-align: start;
          font-weight: 400; }
        #contentArea .itemCollection .itemObject md-card .info-shape button {
          font-size: 0.8em;
          background-color: #cc0000;
          color: #ffffff;
          margin: 4px; }
          #contentArea .itemCollection .itemObject md-card .info-shape button:hover {
            color: #cc0000;
            background-color: #ffffff; }
        #contentArea .itemCollection .itemObject md-card .info-shape [gsys-info-link] {
          color: #ffffff;
          background-color: #cc0000; }
          #contentArea .itemCollection .itemObject md-card .info-shape [gsys-info-link]:hover {
            color: #cc0000;
            background-color: #ffffff; }
      #contentArea .itemCollection .itemObject md-card .card-bg {
        width: 100%;
        min-height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; }
  #contentArea .itemCollection gsys-info-section {
    position: relative;
    display: block;
    width: 100%;
    background-color: #cc0000;
    color: #ffffff;
    min-height: 500px; }

.infoSection {
  transition: 0.2s ease-out all;
  /*height:300px;*/
  z-index: 15; }
  .infoSection .info-close-btn {
    position: relative;
    /*top: -19px;*/ }
  .infoSection .info-img-cont {
    padding: 20px; }
    .infoSection .info-img-cont .info-box-img {
      width: 100%;
      max-width: 500px;
      height: auto;
      box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3); }

.infoSection.ng-enter {
  display: none; }

.infoSection.ng-enter.ng-enter-active {
  display: block; }

.infoSection.ng-enter {
  /*opacity: 0;*/
  height: 0; }

.infoSection.ng-enter-active {
  /*opacity: 1;*/
  height: 200px; }

.infoSection.ng-leave {
  /*opacity: 1;*/
  height: 200px; }

.infoSection.ng-leave-active {
  /*opacity: 0;*/
  height: 0px; }

.infoSectionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 14; }

.infoSection .md-button.md-raised {
  color: #fbfbfb;
  background-color: rgba(239, 22, 22, 0.53); }
  .infoSection .md-button.md-raised:hover {
    color: #cc0000; }

.carousel-indicators {
  z-index: 13; }

.info_panel {
  position: relative;
  height: 400px;
  opacity: 0; }

.info_panel.ng-enter, .info_panel.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.info_panel.ng-enter {
  transform: translate3d(-100%, 0, 0);
  opacity: 0; }

.info_panel.ng-enter-active {
  transform: translate3d(0%, 0, 0);
  opacity: 1; }

.info_panel.ng-leave {
  transform: translate3d(0%, 0, 0);
  opacity: 1; }

.info_panel.ng-leave-active {
  transform: translate3d(-100%, 0, 0);
  opacity: 0; }

.info_panel .tbl {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 10px;
  margin-right: 20px; }
.info_panel p {
  padding: 20px; }
.info_panel .how-to-play-cont {
  padding: 20px; }
  .info_panel .how-to-play-cont div {
    margin-bottom: 1.5em; }
    .info_panel .how-to-play-cont div p {
      margin: 0 1em;
      padding: 0px; }
      .info_panel .how-to-play-cont div p strong {
        font-size: 1.4em; }

.info-play-btn-set {
  margin-top: 20px; }
  .info-play-btn-set .info-play-btn-row {
    margin-right: 20px; }
    .info-play-btn-set .info-play-btn-row button {
      max-width: 150px; }

header form input {
  margin: 20px; }

header .scrolling-container {
  width: 100%; }
  header .scrolling-container .carousel-inner {
    height: auto; }

nav a:hover {
  text-decoration: none; }

nav li.ng-binding.flex {
  padding: 0.6em;
  margin: 0.6em;
  transition: all 0.3s ease-out; }

nav li.ng-binding.flex:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  /*background-color: $white;*/
  color: #ffffff;
  font-weight: 500;
  text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.4); }

.input-search-icon {
  float: right;
  color: rgba(255, 255, 255, 0.6);
  margin-top: -33px;
  font-size: 1.5em; }

footer {
  -webkit-filter: grayscale(100%);
  background: linear-gradient(to bottom, #e5e5e5, #ffffff 20%); }
  footer .gamesys-logo {
    max-width: 150px;
    margin: 20px auto; }
  footer .card-list,
  footer .company-list {
    margin-top: 1em; }
    footer .card-list ul,
    footer .company-list ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }

/*# sourceMappingURL=angapp.css.map */
