$virginRed : #cc0000;
$virginRedSel : rgba(255, 0, 104, 0.34);
$virginPurple : #502777;
$white : #ffffff;
$lightGrey : #e5e5e5;
$transp30black : rgba(0,0,0,0.3);

header {
	background: linear-gradient(to right, $virginRed 0%, $virginRed 24%, $virginPurple 100%);
	nav {
		color: $white;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: rgba(255,255,255,0.5);
		ul {
			padding:0;
			li {
				list-style-type: none;
				text-align:center;
				margin: 1em 0 1em 0;
				text-decoration: none;
    			color: $white;
				a {
				    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
				    font-weight: 400;
				    font-size: 14px;
				    font-size: 0.875rem;   
				}
			}
		}
	}
	gsys-promo-panel {
		img {
			width:100%;
		}
	}
}


.scrolling-container {
		position: relative;
		overflow: hidden;
		background-color: $virginRed;
		color: $white;
		.container-heading {
			position: absolute;
			border: 2px solid #AB0303;
    		border-left-width: 0;
		    top: 0;
		    z-index: 10;
		    background-color: $virginRed;
		    padding: 0.5em 2em 0.3em 3em;
		    margin: 1em 0 0 0;
		    /*box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
		    text-align: right;
		}
		.carousel-inner {
		    height: 350px;
			>.item {
				height:100%;
				.item-title {
					position: absolute;
				    bottom: 0;
				    right: 0;
				    z-index: 10;
				    border: 2px solid #AB0303;
				    background-color: #cc0000;
				    padding: 0.5em 2em 0.3em 3em;
				    margin: 2em -5em;
				    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
				    text-align: right;
				}
			}
		}
		
		ul {
			list-style-type: none;
		}
		md-card {
			color: $lightGrey;
		}
	}
#contentArea {
	.slotFilterForm {
		position: relative;
	}
	
	.searchFilterPanel {
		background-color: $virginRed;
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
		.layout-padding {
			padding:2em;
		}
		h3 {
			color: $white;
		    position: relative;
		    margin: 0;
		    padding: 1em 0 0 1em;
		}
		input,
		label {
			color: $white;
    		border-color: $white;
		}
		.resultCounter {
			font-size: 1.3em;
			span {
				font-size: -webkit-xxx-large;
			}
		}
	}
	.itemCollection {
		padding:0;
		flex-wrap: wrap;
		.itemObject {
			list-style-type:none;
			min-width: 340px;
    		max-width: 460px;
			md-card {
				cursor:pointer;
				position:relative;
				min-height: 200px;
				overflow:hidden;
				box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
				border: 4px solid $virginRed;
				transition: 200ms ease-in-out;
    			transform: translate3d(0,0,0);
				&:hover {
					transform: translate3d(0,0,50px);
					border: 4px solid $virginRedSel;
					.info-shape {
						transform: translate(0px, 0%);
					}
				}
				.info-shape {
					height: 225px;
				    width: 100%;
				    position: absolute;
				    transform: translate(100%, 0px);
				    transition: 200ms ease-out;
				    /*-webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 17% 100%);*/
				    /*clip-path: polygon(36% 0, 100% 0%, 100% 100%, 17% 100%);*/
				    color: $white;
				    text-align: right;
					&:hover {
						transform: translate(2%, 0%);
					}
					h2 {
						position: relative;
					    font-size: 1.5em;
					    background-color: $virginRed;
					    display: block;
					    max-width: 90%;
					    padding: 1em;
					    transform: translate3d(15%,0,0);
					    margin: 0;
					    text-align: start;
					    font-weight: 400;
					}
					h3 {
						position: relative;
						font-size: 1.3em;
						background-color: $virginRed;
						max-width: 70%;
					    display: block;
					    padding: 0.5em 1em 0.5em 1em;
					    transform: translate3d(45%,0,0);
					    margin: 0em 0 0;
					    text-align: start;
					    font-weight: 400;
					}
					h4 {
						position: relative;
						font-size: 1.2em;
						background-color: $virginRed;
						max-width: 50%;
					    padding: 0.5em 1em 0.5em 1em;
					    display: block;
					    transform: translate3d(100%,0,0);
					    margin: 0.4em 0;
					    text-align: start;
					    font-weight: 400;
					}
					button {
						font-size: 0.8em;
						background-color: $virginRed;
						color: $white;
						margin: 4px;
						&:hover {
							color: $virginRed;
							background-color: $white;
						};
					}
					[gsys-info-link] {
						color: $white;
						background-color: $virginRed;

						&:hover {
							color: $virginRed;
							background-color: $white;
						};
					}
				}
				.card-bg {
					width: 100%;
				    min-height: 200px;
				    background-repeat: no-repeat;
				    background-size: cover;
				    background-position: center center;
				}
			}
		}

		gsys-info-section {
			position: relative;
    		display: block;
    		width: 100%;
    		background-color: $virginRed;
    		color: $white;
    		min-height: 500px;
    		
		}
	}
}
.infoSection {
	transition:0.2s ease-out all;
	/*height:300px;*/
	z-index: 15;

	.info-close-btn {
	    position: relative;
	    /*top: -19px;*/
	}

	.info-img-cont {
		padding:20px;

		.info-box-img{
			width:100%;
			max-width: 500px;
			height: auto;
			
			box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.3);
		}
	
	}


}
.infoSection.ng-enter { display:none; }
.infoSection.ng-enter.ng-enter-active { display:block; }

.infoSection.ng-enter {
	/*opacity: 0;*/
	height:0;
}
.infoSection.ng-enter-active {
	/*opacity: 1;*/
	height:200px;
}
.infoSection.ng-leave {
	/*opacity: 1;*/
	height:200px;
}
.infoSection.ng-leave-active {
	/*opacity: 0;*/
	height: 0px;
}
.infoSectionOverlay {
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 14;
}


.infoSection {
	.md-button.md-raised {
	    color: rgb(251, 251, 251);
	    background-color: rgba(239, 22, 22, 0.53);
	    &:hover {
	    	color: $virginRed;
	    }
	}
}


.carousel-indicators {
    z-index: 13;
}




.info_panel {
	position:relative;
	height:400px;
	opacity: 0;
}
.info_panel.ng-enter, .info_panel.ng-leave {
	position: absolute;
	left:0;
	right:0;
	opacity: 0;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.info_panel.ng-enter {
	transform:translate3d(-100%,0,0);
	opacity: 0;
}
.info_panel.ng-enter-active {
	transform:translate3d(0%,0,0);
	opacity: 1;
}
.info_panel.ng-leave {
	transform:translate3d(0%,0,0);
	opacity: 1;
}
.info_panel.ng-leave-active {
	transform:translate3d(-100%,0,0);
	opacity: 0;
}

.info_panel {
	.tbl {
		background-color: $transp30black;
		color: $white;
		padding: 10px;
		margin-right:20px;
	}
	 
	p {
		padding:20px;
	}
	.how-to-play-cont {
		padding:20px;
		div {
			margin-bottom: 1.5em;
			p {
				margin: 0 1em;
				padding: 0px;
				strong {
					font-size: 1.4em;
				}
			}
		}
	}
	
}
.info-play-btn-set {
	margin-top: 20px;

	.info-play-btn-row {
		margin-right: 20px;
		button {
			max-width: 150px;
		}
	}

	
}

header form {
	input {
		margin: 20px;
	}
}

header {
	.scrolling-container {
			width: 100%;
			.carousel-inner {
    			height: auto;
    		}
		} 
}

nav a:hover {
	text-decoration: none;
}
nav li.ng-binding.flex{
	padding: 0.6em;
	margin: 0.6em;
	transition: all 0.3s ease-out;
}
nav li.ng-binding.flex:hover{
		transform: scale3d(1.2,1.2,1.2);
    	/*background-color: $white;*/
    	color: $white;
    	font-weight: 500;
    	text-shadow: 0px 10px 5px rgba(0,0,0,0.4);
	
}

.input-search-icon {
	float: right;
    color: rgba(255,255,255,0.6);
    margin-top: -33px;
    font-size: 1.5em;
}


footer {
	-webkit-filter: grayscale(100%);
	background: linear-gradient(to bottom, $lightGrey, $white 20%);
	.gamesys-logo { 
		max-width: 150px;
		margin: 20px auto;
	}
	.card-list,
	.company-list {
		margin-top:1em;
		ul {
			list-style-type: none;
    		padding: 0;
    		margin:0;
		}
	}
}













